.contenedor {
    margin-top: 100px;

    .container-info-film{
        margin-bottom: 270px;
        
    }

    .container-iframe{
        margin-top: 20px;
        iframe {
            width: 100%;
            height: 50vh;
            
        }
        .edit{
            margin-top: 20px;
            display: flex;
            justify-content: end;
            
            font-size: 20px;
            font-weight: 600;

            a{
                color: white;
                text-decoration: none;
            }
            
        }
    }

    

    .card { 
        margin: auto;
        font-size: medium;
     
        .card-body {
            padding: 20px;

            .card-title {
                margin-top: 15px;
            }

            strong {
                font-size: 20px;
            }

            .sinopsis {
                font-size: 18px
            }

            .expandirTexto {
                color: rgb(56, 156, 250);
                cursor: pointer;
                font-size: 18px;
            }

        }
    }
}
// xxs - super extra small devices (portrait phones)
@media (min-width: 0px) and (max-width: 359.98px) {
    .container-info-film{
        margin-bottom: 10px !important;
        
    }
    .card{
        width: 100% !important;
        
        .card-body{
            .card-img-top {
                width: 100% !important;
                
            }
        }
        
    }
    .container-iframe{
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
        width: 100%;
    }
    
}

// xs - extra small devices (portrait phones)
@media (min-width: 360px) and (max-width: 575.98px) {
    .container-info-film{
        margin-bottom: 10px !important;
        
    }
    .card{
        width: 100% !important;
        
        .card-body{
            .card-img-top {
                width: 100% !important;
                
            }
        }
        
    }
    .container-iframe{
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
        width: 100%;
    }

}

// sm - small devices (landscape phones)
@media (min-width: 576px) and (max-width: 767.98px) {
    .container-info-film{
        margin-bottom: 10px !important;
        
    }
    .card{
        width: 100% !important;
        .card-body{
            .card-img-top {
                display: flex;
                margin: auto;
                width: 80% !important;
                height: 60vh;
            }
        }
        
    }
    .container-iframe{
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
        width: 100%;
    }


}

// md - medium devices (tablets)
@media (min-width: 768px) and (max-width: 991.98px) {
    .container-info-film{
        margin-bottom: 10px !important;
        
    }
    .card{
        width: 100% !important;
        
        .card-body{
            .card-img-top {
                display: flex;
                margin: auto;
                width: 80% !important;
                height: 60vh;
            }
        }
        
    }
    .container-iframe{
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
        width: 100%;
    }


}

// lg - large devices (desktops)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card{
        width: 500px !important;
        height: 700px !important;
        .card-body{
            .card-img-top {
                width: 450px !important;
                height: 430px !important;
            }
        }
        
    }

}

@media (min-width:1200px){
    .card{
        width: 500px !important;
        height: 700px !important;
        .card-body{
            .card-img-top {
                width: 450px !important;
                height: 430px !important;
            }
        }
        
    }
}