<app-header></app-header>

<div class="container-fluid contenedor" *ngIf="selectedFilm">
    <div class="row">
        <div class="col-xs-12 col-lg-5 container-info-film">
            <div class="card bg-transparent text-light border-0">
                <div class="card-body">
                    <img src="{{selectedFilm.img}}" class="card-img-top" />
                    <div class="card-title">
                        <h2>{{selectedFilm.title}}</h2>
                    </div>
                    <div class="card-text">
                        <div class="mt-3"><strong>Fecha de estreno: </strong> {{selectedFilm.premiere}}</div>
                        <div class="mt-2 mb-2"><strong>Edad: </strong> {{selectedFilm.rating}}</div>
                        <div class="border border-secondary"></div>
                        <div class="author mt-3"><strong>Película realizada por: </strong>{{selectedFilm.author}}</div>
                        <div class="description mt-3">
                            <strong>Descripción:</strong><span class="ms-2" *ngIf="expandirTexto == false">{{selectedFilm.description.substring(0,300)}}</span>
                            <span class="expandirTexto" *ngIf="expandirTexto == false && selectedFilm.description.length > 300; else sinopsis"(click)="expandirTexto = true"> ...Leer más</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-7 container-iframe">
            <iframe [src]="urlFilm" frameBorder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

</div>

<ng-template #sinopsis>
    <ng-container  *ngIf="expandirTexto == true && selectedFilm.description.length > 300">
        <span class="ms-2">{{selectedFilm.description}}</span>
        <span class="expandirTexto" (click)="expandirTexto = false"> ...Leer
            menos</span>
    </ng-container>
</ng-template>

<app-footer></app-footer>