<nav class="navbar navbar-expand-lg navbar-dark p-md-3 fixed-top" (scroll)="onScroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
            <img class="img-fluid" src="../../../assets/Yelmo_Home_Transparente.png" alt="" width="150" height="150">
            <!--Simbolo yelmohome-->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> Home</a>
                </li>
                <li class="nav-item" id="peliculas">
                    <a class="nav-link active" href="#">Peliculas</a>
                </li>
            </ul>
            <form class="d-flex flex-lg-row flex-column">
                <button type="button" class=" boton mt-2 notifications-menu position-relative me-4">
                    <span class="icon-button-notification ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white"
                            class="bi bi-bell-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                        </svg>
                        <span
                            class="position-absolute top-40 start-100 translate-middle badge rounded-pill bg-danger">
                            4+
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </span>

                </button>

                <input class="form-control me-2 search" type="search" placeholder="Buscar"
                    aria-label="Search">                
            </form>
            <div class="nav-element">
                <div class="account">
                    <a class="avatar">
                        <span class="profile-link">
                            <div class="btn-group">
                                <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="profile-icon" src="../../../assets/avatar.png" alt="">
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                  <li><button class="dropdown-item" type="button"><fa-icon class="icon-navbar" [icon]="faUser"></fa-icon><span routerLink="/profile" routerLinkActive="active">Profile</span> </button></li>
                                  <li><button (click)="closeSession()" class="dropdown-item" type="button"><fa-icon class="icon-navbar" [icon]="faArrowRightFromBracket"></fa-icon><span >Log Out</span></button></li>
                                  
                                </ul>
                              </div>
                            
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

