<nav class="navbar navbar-expand-lg navbar-dark p-md-3 fixed-top" (scroll)="onScroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
            <img class="img-fluid" src="../../../assets/Yelmo_Home_Transparente.png" alt="" width="150" height="150">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active"> Home</a>
                </li>
            </ul>
            <form class="">
                <input class="form-control me-2 search" type="search" placeholder="Buscar"
                    aria-label="Search" disabled>                
            </form>
            <div class="nav-element">
                <div class="account">
                    <a class="avatar">
                        <span class="profile-link">
                            <div class="btn-group">
                                <button type="button" class="dropdown-toggle d-flex justify-content-center align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="social-media">
                                        <fa-icon class="social-icon" [icon]="faCircleUser"></fa-icon>
                                    </div>
                                    
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                  <li><button class="dropdown-item" type="button"><fa-icon class="icon-navbar" [icon]="faUser"></fa-icon><span routerLink="/profile" routerLinkActive="active">Profile</span> </button></li>
                                  <li><button (click)="closeSession()" class="dropdown-item" type="button"><fa-icon class="icon-navbar" [icon]="faArrowRightFromBracket"></fa-icon><span >Log Out</span></button></li>
                                  
                                </ul>
                              </div>
                            
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

