.profile-icon {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.nav-link{
    font-size: 17px;
    font-weight: 600;
}


.search {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .1);
}

.fixed {
    width: 100%;
    transition: 0.2s linear;
    top: 0px;
    background-color: #343a40;
}

.nofixed {
    transition: 0.2s linear;
    background-color: transparent;
}

nav:hover {
    background-color: #343a40;
}

.dropdown-toggle {
    color: white;
    background: transparent;
    border: none;

}

.dropdown-menu {
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.911);
    border: 1px solid grey;

    li:nth-child(1) {
        border-bottom: 1px solid grey;
    }

    li {

        button {
            color: white;
            margin-left: 15px;
            padding: 5px;
            width: 100px;

            .icon-navbar {
                margin-right: 10px;
                color: white;
                font-size: 20px;
            }

            span {

                &:hover {
                    border-bottom: 1px solid white;
                }
            }
        }

        button:hover {
            background: none;

        }
    }
}

// xxs - super extra small devices (portrait phones)
@media (min-width: 0px) and (max-width: 359.98px) {
    .search{
        width: 50% !important;
        margin-bottom: 15px;
    }

    .account{
        display: flex;
        justify-content: end;
    }
    

}

// xs - extra small devices (portrait phones)
@media (min-width: 360px) and (max-width: 575.98px) {
    .search{
        width: 50% !important;
        margin-bottom: 15px;
    }

    .account{
        display: flex;
        justify-content: end;
    }

}

// sm - small devices (landscape phones)
@media (min-width: 576px) and (max-width: 767.98px) {
    .search{
        width: 50% !important;
        margin-bottom: 15px;
    }

    .account{
        display: flex;
        justify-content: end;
    }

}

// md - medium devices (tablets)
@media (min-width: 768px) and (max-width: 991.98px) {
    .search{
        width: 50% !important;
        margin-bottom: 15px;
    }

    .account{
        display: flex;
        justify-content: end;
    }
}