<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col column">
            <div class="profile">
                <h2 class="title-profile">{{selectedFilm.title}}</h2>
                <div class="border mb-4"></div>
                <div class="container-profile">
                    <form action="" method="post" class="sign-form"> 
                        <div class="form-group mb-3">
                            <label for="name" class="label">Title</label>
                            <input type="text" class="form-control" name="name" placeholder="{{selectedFilm.title}}" #title>
                        </div>
                        <div class="form-group mb-3">
                            <label for="name" class="label">Author</label>
                            <input type="text" class="form-control" name="name" placeholder="{{selectedFilm.author}}" #author>
                        </div>
                        <div class="form-group mb-3">
                            <label for="name" class="label">Description</label><br>
                            <textarea name="" id="" cols="42" rows="8" #description>{{selectedFilm.description}}</textarea>
                            <!-- <input type="text" class="form-control" name="password" placeholder="{{selectedFilm.description}}" #description> -->
                        </div>
                        <div class="form-group mb-3">
                            <label for="name" class="label">Rating</label>
                            <input type="number" class="form-control" name="email" placeholder="{{selectedFilm.rating}}" #rating>
                        </div>
                        <div class="form-group mb-3">
                            <label for="avatar" class="label">Image</label>
                            <input type="text" class="form-control input-avatar" placeholder="{{selectedFilm.img}}" #img>
                        </div>
                        <div class="form-group mb-3">
                            <label for="avatar" class="label">Premiere</label>
                            <input type="text" class="form-control input-avatar" placeholder="{{selectedFilm.premiere}}" #premiere>
                        </div>
                        <div class="form-group mb-3">
                            <label for="avatar" class="label">Video</label>
                            <input type="text" class="form-control input-avatar" placeholder="{{selectedFilm.video}}" #video>
                        </div>
                        <div class="form-group button mb-3 py-2">                               
                            <button (click)="updateFilm(title.value, author.value, description.value, rating.value, img.value, premiere.value, video.value)" class="form-control btn rounded submit px-3" type="submit" name="registrar">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
