<header>
    <img class="logo-yelmo" src="../../../assets/Yelmo_Home_Transparente.png" alt="">
</header>
<section class="section">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img"></div>
                    <div class="login-wrap p-4 p-md-5">
                        <h3 class="w-100 mb-4 text-light">Log In</h3>
                        <div class="sign-form">
                            <div class="form-group mb-3">
                                <label for="name" class="label">Username</label>
                                <input type="text" class="form-control" name="userName" placeholder="Username" required #name>
                            </div>
                            <div class="form-group mb-3">
                                <label for="name" class="label">Password</label>
                                <input type="password" class="form-control" name="pass" placeholder="Password" required #pass>
                            </div>
                            <div class="form-group mb-3">                               
                                <button (click)="login(name.value, pass.value)" class="form-control btn btn-primary rounded submit px-3" name="login" type="submit">Log In</button>
                            </div>
                        </div>
                        <p class="text-center">
                            Not a member?
                            <a routerLink="/register" routerLinkActive="active" class="active">Sign Up</a>
                        </p>
                        <div class="border border-secondary"></div>
                        <div class="social-media d-flex justify-content-center mt-3">
                            <a class="social-icon d-flex justify-content-center align-items-center" target="_blank" href="https://facebook.com"><fa-icon [icon]="faFacebookF"></fa-icon></a>
                            <a class="social-icon d-flex justify-content-center align-items-center" target="_blank" href="https://twitter.com"><fa-icon [icon]="faTwitter"></fa-icon></a>
                            <a class="social-icon d-flex justify-content-center align-items-center" target="_blank" href="https://instagram.com"><fa-icon [icon]="faInstagram"></fa-icon></a>
                            <a class="social-icon d-flex justify-content-center align-items-center" target="_blank" href="https://youtube.com"><fa-icon [icon]="faYoutube"></fa-icon></a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>


