<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="container">
                <h2 class="title-profile">Tú perfil</h2>
                <div class="border"></div>
                <div class="container-profile">
                    <form action="" method="post" class="sign-form">
                        <div class="form-group mb-3">
                            <label for="name" class="label">Username</label>
                            <input type="text" class="form-control" name="name" placeholder="{{user.user_name}}" #name>
                        </div>
                        <div class="form-group mb-3">
                            <label for="name" class="label">Password</label>
                            <input type="text" class="form-control" name="password" placeholder="{{user.password}}" #password>
                        </div>
                        <div class="form-group mb-3">
                            <label for="name" class="label">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="{{user.email}}" #email>
                        </div>
                        <div class="form-group mb-3">
                            <label for="avatar" class="label">Avatar</label>
                            <input type="file" class="form-control input-avatar" name="{{user.avatar}}" #file>
                        </div>
                        <div class="form-group mb-3 py-2">                               
                            <button (click)="update(user.id_user, name.value, password.value, email.value, file.value)" class="form-control btn btn-primary rounded submit px-3" type="submit" name="registrar">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
